<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CRBasic</string>
	<key>ordering</key>
	<array>
		<string>AB3DC169-9A84-4388-9483-B2CBA0CA6156</string>
	</array>
	<key>uuid</key>
	<string>71C7F27B-223A-402A-BED2-679AB92DDDF0</string>
</dict>
</plist>
