<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CRBasic</string>
	<key>ordering</key>
	<array>
		<string>AB3DC169-9A84-4388-9483-B2CBA0CA6156</string>
		<string>FAB88863-C0D5-40C2-A0E0-AC6460DE4C53</string>
		<string>7D59ACB0-EEC7-432B-AA6A-914D24ED46AD</string>
		<string>E68DCB26-B5CB-49E6-A030-C7F4105C9A64</string>
	</array>
	<key>uuid</key>
	<string>71C7F27B-223A-402A-BED2-679AB92DDDF0</string>
</dict>
</plist>
